*{
    margin: 0px;
    padding: 0px;
}
.image{
    height: 90px;
}
.Sign{
    float: right;
    margin-right: 90px;
    margin-top: 40px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.Sign:hover{
    text-decoration: underline;
}
.first{
    margin-left: 200px;
    margin-top: 30px;
    font-size: 20px;
}
.para1{
    margin-left: 20px;
    padding-bottom: 10px;
}
.head{
    padding-bottom: 10px;
}
.mobile{
    margin-top: 30px;
    margin-left: 550px;
}
.mobile1{
    border: 1px solid rgb(2, 2, 2);
    width: 100px;
    text-align: center;
    padding-top: 30px;
    height: 60px;
    background-color: red;
    color: aliceblue;
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 5px;
}
.mobile1:hover{
    background-color: rgb(247, 111, 111);
    cursor: pointer;
}

.plans{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
}
.Monthly{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.para3{
    padding-left: 440px;
}
.para4{
    padding-left: 80px;
}
.para5{
    padding-left: 90px;
}
.para6{
    padding-left: 80px;
}
.para7{
    padding-left: 0px;
}
.para8{
    padding-left: 470px;
}
.para9{
    padding-left: 80px;
}
.para10{
    padding-left: 80px;
}
.para11{
    padding-left: 80px;
}
.end{
    margin-left: 50px;
    margin-top: 90px;
}
button{
    margin-left: 400px;
    height: 50px;
    width: 400px;
    background-color: red;
    color: black;
    font-size: 20px;
}
button:hover{
    background-color: transparent;
    color: red;
    border-radius: 10px;
    cursor: pointer;
}
.abouta{
    margin-top: 20px;
    background-color:  rgba(0, 0, 0, 0.1);
    color: black;
}
.about{
    margin-left: 180px;
    padding-top: 50px;
    font-size: 25px;
    color: rgb(3, 3, 3);

}
.FQA{
    padding-right: 170px;
    color: black;
    font-size: 15px;
}
.Help{
    padding-right: 120px;
    color: black;
    font-size: 15px;
}
.Terms{
    padding-right: 120px;
    color: black;
    font-size: 15px;
}
.privacy{
    padding-right: 145px;
    color: black;
    font-size: 15px;
}
.Cookie{
    padding-right: 80px;
    color: black;
    font-size: 15px;
}
.corporate{
    padding-right: 35px;
    color: black;
    font-size: 15px;
}

select{
    margin-right: 70px;
    margin-top: 30px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: red;
    color: rgb(231, 229, 238);
}
select:hover{
    cursor: pointer;
    background-color: transparent;
    color: red;
}