*{
    margin: 0px;
    padding: 0px;
    
}
.back{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Netflix background.png");
    height: 940px;
}
img{
    margin-left: 90px;
    margin-right: 700px;
    height: 150px;
    background: transparent;
    
}
.formback{
    border-radius: 20px;
    margin-left: 400px;
    margin-right: 500px;
}
.form{
    font-size: 20px;
    padding-left: 30px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5) ;
    color: white;
    padding-bottom: 80px;
}
.input{
    height: 35px;
    width: 290px;
    background:linear-gradient(rgba(46, 35, 35, 0.5), rgba(81, 73, 73, 0.5)), transparent;
    color: aliceblue;
    padding-right: 20px;
}
button{
    margin-left: 40px;
    height: 30px;
    width: 200px;
    background-color: rgb(243, 44, 44);
    border: 3px rgb(213, 195, 195) ridge;
    
}
button:hover{
    cursor: pointer;
    background-color: transparent;
    color: bisque;
    border-radius: 20px;
}
.remember{
    height: 20px;
    padding-top: 50px;
    margin-top: 20px;
}
.need{
    padding-left: 80px;
    color: aliceblue;
    text-decoration: none;
}
p{
    margin-top: 30px;
    margin-left: 40px;
}
.abouta{
    margin-top: 20px;
    background-color:  rgba(0, 0, 0, 0.5);
}
.about{
    margin-left: 180px;
    padding-top: 50px;
    font-size: 25px;
    color: wheat;

}
.FQA{
    padding-right: 170px;
    color: aliceblue;
    font-size: 15px;
}
.Help{
    padding-right: 120px;
    color: aliceblue;
    font-size: 15px;
}
.Terms{
    padding-right: 120px;
    color: aliceblue;
    font-size: 15px;
}
.privacy{
    padding-right: 145px;
    color: aliceblue;
    font-size: 15px;
}
.Cookie{
    padding-right: 80px;
    color: aliceblue;
    font-size: 15px;
}
.corporate{
    padding-right: 35px;
    color: aliceblue;
    font-size: 15px;
}
select{
    margin-right: 70px;
    margin-top: 30px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: red;
    color: rgb(231, 229, 238);
}
select:hover{
    cursor: pointer;
    background-color: transparent;
    color: red;
}